.openTasks-container {
  width: 80%;
  margin-top: 0.25em;

  p {
    text-align: left;
    margin-left: 1em;
    font-size: 0.85em;
    font-weight: 400;

    span {
      font-weight: 600;
    }
  }
}
